
body{
    display:flex;
    justify-content:center;
    font-family:'poppins';
    
}
.gg{
    border:2px solid black;
    background-color:rgb(19, 177, 189);
    padding:15px;
    width:400px;
    height:425px;
    transition:transform 1.3s ease-in-out;
}
.bt{
    display: flex;
    justify-content: center;
    align-items: left;
    width: 75%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: left;
}
